
h1{
  color: white;
}

.user{
  background-color: 	#18a93f;
  height:30px;
  width:80px;
  border-radius: 10px;
  float: left;
  margin-top: 5px;
  color: white;
  border: none;
  margin-left:50px;

}

.input {
  height: 30px;
  border-radius: 10px;
  margin-top: 5px;
  background-color: rgb(230, 230, 230);

}
.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); /* Adjust blur intensity as needed */
  z-index: 999; /* Ensure the blurred background appears below the loader */
}

.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  margin-top: 6px;
  margin-left: 6px;
  border-top: 4px solid black;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.logout
{
  background-color: 	#b23b3b;
  height:30px;
  width:80px;
  border-radius: 10px;
  float: right;
  margin-top: 5px;
  color: white;
  border: none;
  margin-right:50px;
  
}

.board {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  line-height: 20px;
  word-spacing: 1px;
  letter-spacing: 0.2px;
  color: white;
}

.board span {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

.board p {
  margin-top: 5px;
  
}
