.login {
  margin-top: 10px;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 35px;
  background-color: #f7f8f9;
  border-radius: 15px;
  width: inherit;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  width: 25%;
}

.background {
  display: flex;
}

h4 {
  font-weight: normal;
}

.column1 {
  flex: 1;
  text-align: center;
}

.column2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  border-radius: 20px;
  object-fit: contain;
  margin-top: 50px;
  margin-bottom: 50px;
  transform: rotate(-90deg);
}

.button_login {
  margin-top: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 40px;
  border-radius: 30px;
  background-color: #fa8e1a;
  color: white;
  border: 0px;
  margin: auto;
  display: block;
}

.login_detail {
  background-color: rgb(192 219 234);
  padding: 10px;
  width: 200px;
  margin-bottom: 10px;
  border: 0px;
}

@media screen and (max-width: 980px) {
  .login {
    width: 100%;
  }
}
