
.register {
  margin-top: 10px;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 35px;
  border-radius: 15px;
  width: 500px;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url("https://res.cloudinary.com/dvmumi2mb/image/upload/v1712205907/samples/chair-and-coffee-table.jpg");
  background-size: cover;
}
.name_register {
  height: 30px;
  width: 70%;
  margin: 10px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.6);
}
.name_register::placeholder
{
    color: rgba(3, 3, 3, 0.7);
}
 

.password_register {
  height: 30px;
  width: 70%;
  margin: 10px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.6);
}

.password_register::placeholder
{
    color: rgba(3, 3, 3, 0.7);
}
 

.register_button {
  height: 30px;
  width: 70%;
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  padding: 5px;
}
